# Worldwide obesity data analysis
Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

In [2]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
from datetime import datetime

## Perguntas - Obesity among adults by country, 1975-2016

In [29]:

df_obesity = pd.read_csv('dataset/obesity_cleaned.csv')
df_obesity

       Unnamed: 0      Country  Year       Obesity (%)         Sex
0               0  Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1               1  Afghanistan  1975     0.2 [0.0-0.6]        Male
2               2  Afghanistan  1975     0.8 [0.2-2.0]      Female
3               3  Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4               4  Afghanistan  1976     0.2 [0.0-0.7]        Male
...           ...          ...   ...               ...         ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 5 columns]

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [30]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   24570 non-null  int64
 1   Country      24570 non-null  object
 2   Year         24570 non-null  int64
 3   Obesity (%)  24570 non-null  object
 4   Sex          24570 non-null  object
dtypes: int64(2), object(3)
memory usage: 959.9+ KB

Metodos usados na linha abaixo
.str.extract(r'(\d+\.\d+)'):

- O método .str.extract() é usado para extrair substrings de uma série de strings com base em uma expressão regular (regex).
- A expressão regular r'(\d+\.\d+)' é usada para capturar números decimais. Vamos quebrar essa expressão:
- \d+: corresponde a um ou mais dígitos (0-9).
- \.: corresponde ao ponto decimal (o ponto é um caractere especial em regex, então usamos a barra invertida \ para "escapá-lo").
- \d+: novamente, corresponde a um ou mais dígitos após o ponto decimal.
- Os parênteses () em torno da expressão indicam que queremos capturar essa parte da string.
- Portanto, essa expressão regular captura a parte numérica antes do espaço, que é o valor que queremos extrair.

In [31]:
new_column = df_obesity['Obesity (%)'].str.extract(r'(\d+\.\d+)').astype(float) 
df_obesity['Obesity'] = new_column
df_obesity

       Unnamed: 0      Country  Year       Obesity (%)         Sex  Obesity
0               0  Afghanistan  1975     0.5 [0.2-1.1]  Both sexes      0.5
1               1  Afghanistan  1975     0.2 [0.0-0.6]        Male      0.2
2               2  Afghanistan  1975     0.8 [0.2-2.0]      Female      0.8
3               3  Afghanistan  1976     0.5 [0.2-1.1]  Both sexes      0.5
4               4  Afghanistan  1976     0.2 [0.0-0.7]        Male      0.2
...           ...          ...   ...               ...         ...      ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male      4.5
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female     24.8
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes     15.5
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male      4.7
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female     25.3

[24570 rows x 6 columns]

In [33]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   24570 non-null  int64
 1   Country      24570 non-null  object
 2   Year         24570 non-null  int64
 3   Obesity (%)  24570 non-null  object
 4   Sex          24570 non-null  object
 5   Obesity      24066 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.1+ MB

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [ ]:
df_mean = df_obesity[df_obesity['Year'].apply(lambda x: x.year) == 2015]
df_mean[df_mean['Sex']]['Obesity'].mean()

KeyError: 'Obesity'

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

## Perguntas - GDP Per Person (1901-2011)

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?